* {
	background-color: #272529;
	text-align: center;
	font-family: Ink Free;
	color: azure;
	font-weight: 800;
}

@font-face {
	font-family: "Ink Free";
	src: local("Ink Free"), url(./Inkfree.ttf);
}

.box {
	width: 100%;
	height: 100%;
	display: flex;
	margin: 150px 500px;
	width: 300px;
	height: 300px;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	border-radius: 5px;
}

.border-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #171618, #fcc23f);
	animation: animate-border-top 2s linear infinite;
}
@keyframes animate-border-top {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(100%);
	}
}
